.themeControl-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  .theme-control {
    width: 100%;
    min-height: 300px;
    background-color: lightgray;
    background-color: var(--color-2);
    color: var(--color-0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    .theme-p {
      padding: 10px 0;
    }
    .theme-container {
      display: flex;
      justify-content: space-around;
      .theme-div {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .theme-light {
          background-image: url("../Images/palettes/light.jpg");
        }
        .theme-dim {
          background-image: url("../Images/palettes/dim.png");
        }
        .theme-dark {
          background-image: url("../Images/palettes/dark.jpg");
        }
        .theme {
          margin: 10px 0;
          -webkit-appearance: none;
          // background-color: white;
          // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAARVBMVEX+hIT+ICBrAAD+TU1TAAC6AADbAAD+OTn+XFw+AADYAAD/YGD/ioq0AAC/AABkAABbAAD+NzcjAAD/ZGT/kJCuAAD/UlIzSU+5AAABIklEQVR4nO3cyRWCQAAFwVFAHAZEFs0/VBPw+C8+qzOoBLqUWHPtU9VLrhyQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJDwh4RzrHOvqfakcIn1OlqqY8pVhlhLu6dq0y0WISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISHhF+Ej1hBbKrSWfCqssfpxi/XOVa6xnmOsrctFSEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEj4j8IPnqZEEvI8hy4AAAAASUVORK5CYII=);
          // background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 200px;
          border-radius: 10px;
          outline: none;
        }
        .theme:after {
          content: "";
          display: block;
          height: 30px;
          position: relative;
          left: -5px;

          top: -5px;
          width: 30px;
        }
        .theme:checked:after {
          -webkit-appearance: none;
          background-color: rgba(0, 0, 0, 0.172);
          border: 5px solid rgb(38, 38, 38);
          width: 100%;
          height: 100%;
          border-radius: 15px;
        }
      }
    }
  }
  .save-btn {
    min-width: 100px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    // background-color: gray;
    // color: white;
    background-color: var(--color-4);
    color: var(--color-0);
    margin-top: 30px;
    cursor: pointer;
  }
}
