// :root {
// }

[data-theme-palette="light"] {
  // background:
  --color-0: white;
  --color-1: whitesmoke;
  --color-2: #94bcbc;
  --color-3: #349fa4;
  --color-4: #dc9779;
  --color-5: black;
  --color-6: #373a36;
  --color-7: lightgray;
  --color-8: #707070;
  // color:
}
[data-theme-palette="dim"] {
  --color-0: white;
  --color-1: whitesmoke;
  --color-2: #425664;
  --color-3: #32424d;
  --color-4: #c6ad8f;
  --color-5: black;
  --color-6: #373a36;
  --color-7: #c6ad8f;
  --color-8: #707070;
}
[data-theme-palette="dark"] {
  --color-0: #e6e2dd;
  --color-1: #e6e2dd;
  --color-2: #373a36;
  --color-3: #373a36;
  --color-4: #d48166;
  --color-5: black;
  --color-6: #373a36;
  --color-7: dimgray;
  --color-8: #707070;
}
